
  * {
    margin: 0;
    padding: 0;
    user-select: none;
  }

  body {
    font-family: "montserrat", sans-serif;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    text-align: justify;
  }
  

.header{
    width:100%;
    height:100px;
    display: block;
    background-color: #d2e3fc;
    user-select: none;
}


.innerheader{
    width: 1000px;
    height: 100%;
    display:block;
    margin: 0 auto;
}


.navigation{
    float:right;
     height:100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding-top: 30px;
}

.navigation a li{
    display:table-cell;
    vertical-align: middle;
    height: 100%;
    color:white;
    font-family: 'montserrat';
    size:16px;
}


.navigation a li:hover{
  color:black;
  transform: scale(1.25);
}

a.navigation-link {
    font-family: "montserrat";
    font-size: 25px;
    display: table-cell;
    vertical-align: middle;
}
a.navigation-link:link {
    color: white ;
   text-decoration: none;
}
a.navigation-link:visited {
    color: white ;
   text-decoration: none;
}
a.navigation-link:hover{
    color: white ;
   text-decoration: none;
}
a.navigation-link:active {
    color: white ;
   text-decoration: none;
}

.logo{
    height:100%;
    display: table;
    float: left;
    padding-left: 20px;
}
.logo h1{
    color: white;
    height:100%;
    display: table-cell;
    vertical-align: middle;
    
    font-family: 'Montserrat';

}
  
.flex-card{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:25px;
        
    }
  
    .textbox{
        width:100%;
        height:100%;
        background-color:#91BCA6;
        padding:15px;
        margin-top: 25px;
        border:none;
        font:inherit;
        font-size: 24px;
        border-radius: 16px;
        user-select: none;
        text-decoration:solid;
        color:white;
        outline:none;
    }
    .textbox2{
      width:100%;
      height:100%;
      background-color:#C4E7CD;
      border:none;
      font:inherit;
      font-size: 24px;
      border-radius: 16px;
      user-select: none;
      text-decoration:solid;
  }


  .card {
    display:flex;
    margin:35px 0px;
    width: 300px;
    height: 500px;
    perspective: 500px;
    text-align: justify;
    border:2px solid 
  }
  
  .card:hover{
    transform: scale(1.05);
    transition:all 500ms ease-in-out;
    
  }
  

  .card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card__inner.is-flipped {
    transform: rotateY(180deg);
  }
  
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

  }
  
  .card__face--front {
    background:#;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card__face--back {
    transform: rotateY(180deg);
    text-align: justify;
  }
  
  .card__content {
    width:100%;
    height:100%;
    text-align: justify;
  }
  
